*~
.DS_Store
.xcodebuild*
.swiftpm
.build
.xcframework
.xcodebuild
.xcodebuildx86_64
test-apple-godot-api
multi-demo
#*
GodotApplePackage.xcodeproj
GodotApplePlugins.xcframework
GodotApplePlugins.xcodeproj
UnityGameKit
addons/GodotApplePlugins/bin/
